.section {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
}
.liquid {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -40;
}

/* 1. Fade in and translate from the bottom */
.section-1.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 2. Scale up */
.section-2.visible {
  opacity: 1;
  transform: translateY(-20px);
}

/* 3. Rotate */
.section-3.visible {
  opacity: 1;
  transform: rotate(360deg);
}

/* 4. Skew X */
.section-4.visible {
  opacity: 1;
  transform: skewY(15deg);
}

/* 5. Scale down */
.section-5.visible {
  opacity: 1;
  transform: scale(0.9);
  letter-spacing: 2px;
}

/* 6. Slide in from the left */
.section-6.visible {
  opacity: 1;
  animation: an1 10s ease infinite;
}

/* 7. Slide in from the right */
.section-7.visible {
  opacity: 1;
  transform: translateX(0);
}

/* 8. Fade in and zoom */
.section-8.visible {
  opacity: 1;
  transform: scale(1.3);
}

/* 9. Slide up */
.section-9.visible {
  opacity: 1;
  transform: translateY(0);
}

/* 10. Bounce */
.section-10.visible {
  opacity: 1;
  transform: translateY(0);
  animation: bounce 1s ease;
}
.bdr {
  opacity: 1;
  transform: translateY(0);
  animation: border 15s ease;
  transition: 3s;
}

@keyframes an1 {
  0%, 100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(30px);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}
@keyframes border {
  0%{
    transform: translateX(0);
  }
  99% {
    transform: translateX(280px);
  }
}
.text-stroke {
  position: relative;
  background:linear-gradient(to top right,#040e11,#b8b7b3);
  font-weight: 600; /* Font weight for boldness */
  color: transparent; /* Transparent text fill */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-stroke:0.1vh black;
  text-align: center; /* Center the text */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Optional shadow for depth */
  background-position:0 0;
  background-repeat:no-repeat;
  transition: .6s;
  letter-spacing:2px;
  animation: moveText 6s linear infinite;
  animation-delay:1s;
  position:relative;
  margin-bottom: 1rem; 
  width: 100%;
}






.text-stroke::before{
  content:'';
  position:absolute;
  top:7px;
  left: 0;
  width:0;
  height:80%;
  transition: .6s;
  border-right:2px solid black;
  animation:moveCursorText 6s linear infinite;
  animation-delay:1s;
}


@keyframes moveText{
  0%,10%,100%{
    background-position:-32rem 0;
  }
  65%,85%{
    background-position:0 0;
  }
}
@keyframes moveCursorText{
  0%,10%,100%{
  width:0;
  }
  65%,78%,85%{
    width:100%;
    opacity:1;
  }
  75%,85%{
    opacity:0;
  }
}
@media (max-width: 480px) {

  @keyframes moveText {
    0%, 10%, 100% {
      background-position: -34rem 0;
    }
    65%, 85% {
      background-position: 0 0;
    }
    
  }

  @keyframes moveCursorText {
    0%, 10%, 100% {
      width: 0;
      height: 50%;
    }
    40%{
    width: 100%;
    }
    41%{
      width: 0;
      height: 80%;
    }
    65%, 78%, 85% {
      width: 100%;
      opacity: 1;
    }
    75%, 85% {
      opacity: 0;
    }
  }
}

.liquid {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -40;
}

.liquid:nth-child(1) {
  mix-blend-mode: multiply;
  opacity: 0.8;
}

.liquid:nth-child(2) {
  mix-blend-mode: screen;
  opacity: 0.8;
}

svg {
  width: 100%;
  height: 100%;
}

@keyframes rotateAnimation {
  0% {
    transform: scale(1) rotate(0deg); /* Initial state */
  }
  100% {
    transform: scale(1.2) rotate(360deg); /* Full rotation */
  }
}

@media (max-width: 480px) {
  .card:hover .card-content{
    top: 0%;
  }
  
}

  